## Aggregation – Introduction

Aggregation in SQL is used to **summarize data** and extract insights instead of viewing individual rows.

It helps answer questions like:
- How many records exist?
- What is the total or average value?

Common aggregation functions:
- COUNT()
- SUM()
- AVG()
- MIN()
- MAX()

Aggregations shift SQL from **row-level queries** to **analysis-level insights**.

### Database Connection

In [4]:
%reload_ext sql
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
%sql mysql+pymysql://root:Bhavesh%402025@localhost/customers

### Database Testing

In [5]:
%%sql
SELECT version();

 * mysql+pymysql://root:***@localhost/customers
1 rows affected.

[('8.0.42',)]

### Alter and Update table customers

In [6]:
%%sql
ALTER TABLE customers
ADD COLUMN spend_amount INT,
ADD COLUMN customer_type VARCHAR(20),
ADD COLUMN is_active BOOLEAN;

 * mysql+pymysql://root:***@localhost/customers
0 rows affected.

[]

In [8]:
%%sql
UPDATE customers
SET spend_amount = CASE customer_id
    WHEN 1 THEN 12000
    WHEN 2 THEN 18000
    WHEN 3 THEN 7000
    WHEN 4 THEN 22000
    WHEN 5 THEN 15000
END,
customer_type = CASE
    WHEN age >= 28 THEN 'Premium'
    ELSE 'Regular'
END,
is_active = CASE
    WHEN signup_date >= '2023-02-01' THEN TRUE
    ELSE FALSE
END;

 * mysql+pymysql://root:***@localhost/customers
5 rows affected.

[]

###  **COUNT** 
count is used to count number of rows based on a condition.  
Very important for user base size, activity count, segmentation.

### How many total customers are there?

In [ ]:
%%sql 
select count(*) as total_customers 
from customers ;

### How many customers are from Mumbai?

In [ ]:
%%sql 
Select count(*) from customers 
where city in ('Mumbai')

In [ ]:
%%sql
SELECT COUNT(*) AS mumbai_customers
FROM customers
WHERE city = 'Mumbai';

### How many customers are above age 25?

In [ ]:
%%sql 
Select count(*) from customers 
where age >25 ;

### SUM() 
sum() is used to add up numeric values in a column.  
It helps find total contribution of a metric.

### What is the total age of all customers?

In [ ]:
%%sql
select sum(age) as customers_total_age 
from customers

### What is the total age of customers from Mumbai?

In [ ]:
%%sql 
Select sum(age) from customers 
where city='Mumbai'

### What is the total age of customers who joined after Feb 2023?

In [ ]:
%%sql
Select sum(age) from customers 
where signup_date > '2023-02-01'

### AVG() 
Avg() is used to calculate the average (mean) of numeric values.  
It helps understand typical customer behavior.

### What is the average age of all customers?

In [9]:
%%sql
select avg(age) as Avg_age 
from customers;

 * mysql+pymysql://root:***@localhost/customers
1 rows affected.

[(Decimal('26.6000'),)]

### What is the average age of customers from Mumbai?

In [12]:
%%sql
select avg(age) as Avg_age 
from customers 
where city='Mumbai';

 * mysql+pymysql://root:***@localhost/customers
1 rows affected.

[(Decimal('26.5000'),)]

### What is the average age of customers who signed up after Feb 2023?

In [13]:
%%sql
select avg(age) as Avg_age
from customers
where signup_date >'2023-02-01'

 * mysql+pymysql://root:***@localhost/customers
1 rows affected.

[(Decimal('26.6667'),)]

### MIN(),MAX()
MIN() → finds the smallest value  
MAX() → finds the largest value

### What is the minimum and maximum age among all customers?

In [18]:
%%sql
Select min(age) as min_age,
      max(age) as max_age 
from customers;

 * mysql+pymysql://root:***@localhost/customers
1 rows affected.

[(22, 31)]

### What is the earliest and latest signup date?

In [21]:
%%sql
select min(signup_date) as earliest_date,
max(signup_date) as latest_date 
from customers ;

 * mysql+pymysql://root:***@localhost/customers
1 rows affected.

[(datetime.date(2023, 1, 10), datetime.date(2023, 4, 5))]

### Find the youngest and oldest customer from Mumbai.

In [26]:
%%sql 
select min(age) as youngest_age,
       max(age) as oldest_age
from customers 
where city='Mumbai' ;

 * mysql+pymysql://root:***@localhost/customers
1 rows affected.

[(24, 29)]